# Server Port & Security
PORT=3001
API_KEY=supersecretkey123
BASE_URL=http://localhost:3001

# OrderKuota Credentials (otomatis terisi setelah node login.js)
ORKUT_USERNAME=
ORKUT_TOKEN=
ORKUT_USER_ID=
